<div class="flex-column centered">
    <div class="hero">
        <h1>think <span class="primary-color-text">money$</span></h1>
    </div>
    <p> Budgeting doesn't have to be a complex thing, it's as simple as keeping your <span
            class="accent-color-text">income > your expenses</span>. </p>
    <p> The problem is that with all the little expenses in life it's easy to lose the bigger picture.</p>
    <p> This application aims to combat that problem by giving you a simple interface to keep track of that bigger
        picture.</p>

    <h2 style="margin-bottom: 0;">the <span class="primary-color-text">tech</span></h2>
    <p>Currently this is a PWA made with the <span class="accent-color-text">Angular</span> framework and utilizing
        <span class="accent-color-text">IndexedDB</span> to store and query the records.
    </p>
    <p> IndexedDB follows a <span class="accent-color-text">same-origin</span> policy meaning that other website will
        not be able to query your data. While this does provide external protection, I'm looking into ways to support
        internal protection such as <span class="accent-color-text">encryption</span>.</p>
</div>