<form [formGroup]="accountForm" class="flex-column">
    <mat-form-field color="accent">
        <mat-label>name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field color="accent">
        <mat-label>type</mat-label>
        <mat-select formControlName="type">
            <mat-option value="asset">ASSET</mat-option>
            <mat-option value="expense">EXPENSE</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="button" [disabled]="accountForm.invalid"
        (click)="createAccount()">CREATE ACCOUNT</button>
</form>

<h1>info</h1>
<p><span class="accent-color-text">Asset</span> accounts are accounts that you own, think along the lines of <span
        class="accent-color-text">chequing</span>,
    <span class="accent-color-text">savings</span>, and <span class="accent-color-text">credit cards</span>.
</p>
<p><span class="accent-color-text">Expense</span> accounts are the places you make purchases, things like <span
        class="accent-color-text">shops</span> & <span class="accent-color-text">restaurants</span>.</p>