<app-top-nav></app-top-nav>
<mat-sidenav-container style="height: 100%;" opened="true" mode="side">
  <mat-sidenav>Test</mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- floating action button -->
    <button mat-flat-button color="primary" class="transaction-fab" routerLink="transactions/create">
      <mat-icon>receipt</mat-icon>
      CREATE
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-bottom-nav></app-bottom-nav>